@page
@model Corona_App.Pages.Varer.VarerCRUD.ListeOverVarerModel
@*Lavet Af Marcus*@
@{
}

<div>
    <h1>Liste af alle vare</h1>
    <form method="post">
        <input type="submit" formaction="\Varer\VarerCRUD\CreateVare" value="Opret Varer" class="btn rema_farve" />
    </form>
</div>

@foreach (Vare vare in Model.Varer)
{
    <p>Vare Nummer @vare.VareNr</p>
    <p>Vare Navn @vare.Navn</p>
    <p>Vare Pris @vare.Pris</p>
    <p>Vare Kategori @vare.Kategori</p>

    <form method="post">
        <input type="submit" formaction="/Varer/VarerCRUD/RedigerVare/@vare.VareNr" value="Rediger" class="btn rema_farve" />
        <input type="submit" formaction="/Varer/VarerCRUD/SletVare/@vare.VareNr" value="Slet" class="btn rema_farve" />
    </form>
}