@page
@model Corona_App.Pages.Varer.VarerCRUD.ListeOverVarerModel
@*Lavet Af Marcus*@
@{
}

<div style="margin-bottom:2em;">
    <h1>Liste af alle vare</h1>
    <form method="post">
        <input type="submit" formaction="\Varer\VarerCRUD\CreateVare" value="Opret Varer" class="btn rema_farve" />
    </form>
</div>

@foreach (Vare vare in Model.Varer)
{
    <div style="margin-bottom: 2em; padding-left:1em;" class="opgave_border">
        <p>Vare Nummer: @vare.VareNr</p>
        <p>Vare Navn: @vare.Navn</p>
        <p>Vare Pris: @vare.Pris</p>
        <p>Vare Katerogi: @vare.Kategori</p>
        <form method="post">
            <input type="submit" formaction="/Varer/VarerCRUD/RedigerVare/@vare.VareNr" value="Rediger" class="btn rema_farve" />
            <input type="submit" formaction="/Varer/VarerCRUD/SletVare/@vare.VareNr" value="Slet" class="btn btn-danger" />
        </form>
    </div>

}