@page
@model IndexModel
@*Lavet Af Anders*@
@{
    ViewData["Title"] = "SuperHandleren 4000!!!";
    Layout = null;
    //Layout null gør at jeg kan mister funktionaliteten fra layous filen, som typisk har alle css filerne inde i sig. Jeg er dog nødt til at gøre dette, fordi ellers så
    //beholder den headeren øverst, hvilket gør at man har adgang til hjemmesiden uden login.
}
@* Jeg er nødt til at bruge head til alle mine style sheets, fordi layout ikke længere er en del af koden *@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            @* Overskrift *@
            <h1 class="display-4">SuperHandleren 4000!!!</h1>
            <form method="post">

                @* Log ind *@
                <div class="text-danger ingen_liste_prik" asp-validation-summary="All"></div>
                <input type="email" asp-for="Logind.Email" placeholder="E-mail" class="wider-box ingen_liste_prik" autofocus />
                <div class="line-space"></div>
                <input type="password" asp-for="Logind.Adgangskode" placeholder="Adgangskode" class="wider-box ingen_liste_prik" />

                <div class="line-space"></div>

                @* Husk mig boks *@
                <input type="checkbox" name="husk mig" value="Husk mig" /> <label>Husk mig</label>
                <div class="line-space"></div>

                @* Log ind knap *@
                <input type="submit" Value="Log Ind" class="btn btn-primary" />
            </form>
            <div class="line-space"></div>

            @* Glemt adgangskode *@
            <form method="get">
                <input type="submit" name="glemt adgangskode" value="Glemt adgangskode" formaction="/Kunder/Adgangskoder/GlemtAdgangskode" class="btn btn-danger tynd_knap" />
            </form>

            @* Opret Bruger *@
            <form method="get">
                <input type="submit" formaction="/Kunder/Bruger/OpretKunde" name="opret bruger" value="Opret bruger" class="btn btn-dark" />
            </form>

            @* Tekst til forsiden *@
            <div class="line-space"></div>
            <p class="text-left">SuperHandleren 4000!!! er Rema 1000s initiativ til at hjælpe de isolerede danske borgere. Lav en bruger og få dine varer leveret hjem til dig, så du kan forblive i isolation, og hjælpe med at stoppe spredningen af Covid-19.</p>
            <p class="text-left">Du kan også oprette dig som bud, hvor du får ansvaret for at købe og levere varer, for isolerede borgere, i nærheden af dig. Du bliver betalt for hver levering.</p>
            <img src="~/Billeder/rema 1000.png" alt="Rema 1000 Vi handler for dig" class="Bredde100" />
        </div>
    </div>

</body>