@page
@model IndexModel
@{
    ViewData["Title"] = "SuperHandleren 4000!!!";
}

<div class="text-center">
    <h1 class="display-4">SuperHandleren 4000!!!</h1>
    <input type="email" name="e-mail" placeholder="E-mail" class="wider-box"/>
    <div class="line-space"></div>
    <input type="password" name="adgangskode" placeholder="Adgangskode" class="wider-box" />
    <div class="line-space"></div>
    <input type="checkbox" name="husk mig" value="Husk mig" /> Husk mig
    <div class="line-space"></div>
    <input type="submit" Value="Log Ind" class="btn btn-primary" />
    <div class="line-space"></div>
    <input type="button" name="glemt adgangskode" value="Glemt adgangskode" class="btn btn-danger skinnyboi" />
    <input type="button" name="opret bruger" value="Opret bruger" class="btn btn-dark" />
    <div class="line-space"></div>
    <p class="text-left">SuperHandleren 4000!!! er Rema 1000s initiativ til at hjælpe de isolerede danske borgere. Lav en bruger og få dine varer leveret hjem til dig, så du kan forblive i isolation, og hjælpe med at stoppe spredningen af Covid-19.</p>
    <p class="text-left">Du kan også oprette dig som bud, hvor du får ansvaret for at købe og levere varer, for isolerede borgere, i nærheden af dig. Du bliver betalt for hver levering.</p>
    <img src="~/Billeder/rema 1000.png" alt="Rema 1000 Vi handler for dig" class="Bredde100" />
</div>