@page
@model Corona_App.Pages.StatistikModel
@{
    ViewData["Title"] = "Statistik";
}

<h1> Statistik over SuperHandleren 4000!!!</h1>

<h2> Antal brugere på platformen:</h2>
                                       <p>@Model.AntalBrugere</p>