@page
@model Corona_App.Pages.StatistikModel
@{
    ViewData["Title"] = "Statistik over SuperHandleren 4000!!!";
}
<div class="text-center">
    <h1> Statistik over SuperHandleren 4000!!!</h1>
</div>
<div class="line-space"></div>
<p> <b> Antal brugere på platformen: </b>@Model.AntalBrugere</p>


