@page
@model Corona_App.Pages.Varer.IndkøbslisteModel
@{
    ViewData["Title"] = "Indkøbsliste";
}

<div class="container, text-center">
    <div class="image">
        <h1>Indkøbsliste</h1>
        <img src="~/Billeder/images.jfif" alt="i" />
    </div>



    <div class="text-center">
        <label>
            <input type="checkbox" />
            Tilføj levering (+ 40 kr.)
        </label>
    </div>


    <form action="/action_page.php" class="text-center">
        Kommentar til ordre:<br>
        <textarea name="explanation" dirname="explanation.dir"></textarea>
        <div class="form-group betal">
            <input type="submit" value="Betal" formaction="/Kunder/Bruger/Betaling" class="btn btn-primary betal" />
        </div>
    </form>

</div>

        <nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Indkøbsliste" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/BlivBud" value="Bliv Bud" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger/3" value="Profil" class="skaler btn btn-primary"></div>
        </form>
    </div>
</nav>