@page
@model Corona_App.Pages.Varer.IndkøbslisteModel
@*Lavet Af Cecilie*@
@{
    ViewData["Title"] = "Indkøbsliste";
}

<header>
    <form method="post">
        <div>
            <input type="submit" value="Tilbage" class="btn rema_farve" formaction="/Varer/KatalogVarer/Katalog" />
        </div>
    </form>
</header>
<div class="container, text-center">
    <div class="image">
        <h1>Indkøbsliste</h1>
        <img src="~/Billeder/images.jfif" alt="i" />
    </div>


    @foreach (var item in Model.b)
    {
        <div class="opgave_border Bredde100 little_margin_top">
            <div class="dropdown-item container_dropdown_item">

                <img src="https://www.dummyimage.com/40px40px" alt="Alternate Text" />
                <div>
                    <p class="display_inline">@item.Navn </p>
                    <p class="display_inline float-right">@item.Pris kr.</p>

                </div>
            </div>
        </div>
    }


    <div class="text-center">
        <label>
            <input type="checkbox" />
            Tilføj levering (+ 40 kr.)
        </label>
    </div>


    <form action="/action_page.php" class="text-center">
        Kommentar til ordre:<br>
        <textarea name="explanation" dirname="explanation.dir"></textarea>
        <div class="form-group betal">
            <input type="submit" value="Betal" formaction="/Kunder/Bruger/Betaling" class="btn btn-primary betal" />
        </div>
    </form>

</div>

<nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Indkøbsliste" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/BlivBud" value="Bliv Bud" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger/3" value="Profil" class="skaler btn btn-primary"></div>
        </form>
    </div>
</nav>