@page "{id}"
@model Corona_App.Pages.Kunder.KurvModel
@{
}

<body>
    <header>
        <form method="post">
            <div>
                <input type="submit" value="Tilbage" class="btn rema_farve" formaction="/Kunder/Bruger/OpgaverINærhedenAfDig" />
            </div>
        </form>
    </header>
    <div class="container text-center">
        <div class="image">
            <h1 class="text-center">Indkøbsliste</h1>
            <img src="~/Billeder/images.jfif" alt="i" />
        </div>
     </div>
    
    <p class="alert-danger">@Model.ErrorMsg</p>

        @foreach (var item in Model.b)
        {
            <div class="opgave_border Bredde100 little_margin_top">
                <div class="dropdown-item container_dropdown_item">

                    <img src="https://www.dummyimage.com/40px40px" alt="Alternate Text" />
                    <div class="display_inline">
                        <p class="display_inline">@item.Navn </p>
                        <p class="display_inline float-right little_margin_top">@item.Pris kr.</p>
                        <a type="submit" asp-page-handler="slet" class="btn rema_farve" asp-route-vareNr="@item.VareNr"> slet </a>
                    </div>
                </div>
            </div>
        }

        <form class="text-center">
            Kommentar til ordre:<br>
            <textarea name="explanation" dirname="explanation.dir"></textarea>
        </form>
        <form class="text-center" method="post">
            <input type="submit" class="btn rema_farve btn-primary" value="Accepter Ordre" formaction="/Kunder/Bruger/NuværendeOpgave" />
        </form>
    </div>

</body>
