/*Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    background-color: #2359a2 !important;
    color: white !important;
    border-color: #2359a2 !important
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.line-space {
    height: 1.3rem;
}


.tynd_knap {
    font-size: 0.8em !important;
    padding: 7px;
}

.wider-box {
    width: 14em;
}

.Bredde100 {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.rema_farve {
    background-color: #2359a2 !important;
    color: white !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp*/
    color: black;
    background-color: white;
    font-size: 1.3em;
    padding: 0.5em;
    font-weight: bold;
}

.imagecontainer {
    position: relative;
    text-align: center;
    color: white;
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp/ */
}

.imgpadding {
    padding-right: 15px;
}

.menuknapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.columntest {
    float: left;
    width: 25%;
    /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp*/
}

/* Clear floats after the columns */
.rowtest:after {
    content: "";
    display: table;
    clear: both;
    /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp */
}

.skaler {
    width: 100%;
    height: 4rem;
}

.rund_knap {
    border-radius: 50px;
}

.opgave_border {
    border-style: solid;
    padding: 1em 0em;
}

.ingen_liste_prik {
    padding-left: 0px;
    list-style-type: none;
}

    .ingen_liste_prik ul li {
        list-style-type: none;
    }

.knap_divider {
    margin-right: 30%;
}

.little_margin_top {
    margin-top: 2%;
}

.display_inline {
    display: inline !important;
}

#margin_center {
    margin-right: 2.5%;
    margin-left: -5.5%;
}

.margin_left_small {
    margin-left: 2.5%;
}
