/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.line-space {
    height:1.3rem;
}

.skinnyboi {
    font-size: 0.8em !important;
    padding: 7px;
    
}

.wider-box {
    width: 14em;
}
.Bredde100 {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.rema_farve {
    background-color: #0366d6;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp*/
    color: black;
    background-color: white;
    font-size: 1.3em;
    padding: 0.5em;
    font-weight: bold;
}

.imagecontainer {
    position: relative;
    text-align: center;
    color: white;
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp*/
}

.imgpadding {
    padding-right: 15px;
}


/*Media query
*/
@media only screen and (orientation: portrait) {
    * {
        background-color: aqua;
    }
    .menuknapper {
        position: fixed;
        left: 0;
        bottom: 0;
       /* width: 100%;*/
        background-color: red;
        color: white;
        text-align: center;
    }

    .columntest {
        float: left;
        width: 25%;
        /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp*/
    }

    /* Clear floats after the columns */
    /*.rowtest:after {
        content: "";
        display: table;
        clear: both;*/
        /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp*/
    /*}*/
}