@page
@model Corona_App.Pages.NyAdgangskodeModel
@{
    ViewData["Title"] = "Glemt Adgangskode";
}
<div class="text-center">
    <h1>Ny Adgangskode</h1>
</div>

<div class="line-space"></div>
<div class="line-space"></div>
<div class="line-space"></div>

<div class="text-center line-space">
    <p>Indtast Ny Adgangskode</p>
</div>

<div class="line-space"></div>
<div class="text-center line-space">
    <form>
        <input type="text" placeholder="Ny Adgangskode..." />
    </form>
</div>

<div class="line-space"></div>
<div class="text-center">
    <form>
        <input type="submit" value="Ny Adgangskode" formaction="/Index" class="btn rema_farve">
    </form>
    <div class="line-space"></div>
</div>



@*https://localhost:44380/Kunder/Adgangskoder/GlemtAdgangskode*@