@page
@model Corona_App.Pages.Kunder.Bruger.BlivBudModel
@{
    ViewData["Title"] = "Bliv Bud";
}

<div class="imagecontainer">
    <img src="~/Billeder/bud.png" alt="Billede af et bud på cykel" class="imgpadding" />
    <div class="centered">BLIV BUD</div>
</div>
@* Billede taget fra https://www.freepik.com/free-vector/courier-riding-bike-checking-address-phone-woman-delivering-order-using-cell-with-map-web-template_10579704.htm#page=1&query=courier%20bike&position=45&from_view=search *@

<p>
    Hjælp de isolerede danske borgere med  at får deres hverdag til at køre rundt, ved at blive budbringer.
</p>
<p>
    Inden du tager fasted for at handle i Rema 1000, kan du se indkøbslisterne for isolerede danskere, i dit nabolag, så du kan købe ind for dem.
</p>
<p>
    Du vil blive betalt XX kr. for hver levering du udfører, og få de penge igen, som der bliver brugt på varerne.
</p>
<div class="line-space"></div>
<div class="text-center">
    <input type="checkbox" name="handelsbetingelserne" value="handelsbetingelserne" /> <label>Jeg har læst og accepteret handelsbetingelserne.</label>
    <div class="line-space"></div>
    <form>
    <input type="submit" formaction="/Kunder/Bruger/OpgaverINærhedenAfDig" name="Bliv bud" value="Jeg ønsker at blive bud" class="btn rema_farve" />
    </form>
</div>


<nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/BlivBud" value="Bliv Bud" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger" value="Profil" class="skaler btn btn-primary"></div>
        </form>
        </div>
</nav>

@*
    <div class="text-center">
        <h1 class="display-4">SuperHandleren 4000!!!</h1>
        <input type="email" name="e-mail" asp-for="EmailLogin" class="wider-box" />
        <div class="line-space"></div>
        <input type="password" name="adgangskode" placeholder="Adgangskode" class="wider-box" />
        <div class="line-space"></div>
        <input type="checkbox" name="husk mig" value="Husk mig" /> <label>Husk mig</label>
        <div class="line-space"></div>
        <form method="get">
            <input type="submit" asp-page="Kunder/Bruger/Bruger" Value="Log Ind" class="btn btn-primary" />
        </form>
        <div class="line-space"></div>
        <input type="button" name="glemt adgangskode" value="Glemt adgangskode" class="btn btn-danger skinnyboi" />
        <form method="get">
            <input type="submit" asp-page="Kunder/Bruger/BlivBud" name="opret bruger" value="Opret bruger" class="btn btn-dark" />
        </form>
        <div class="line-space"></div>
        <p class="text-left">SuperHandleren 4000!!! er Rema 1000s initiativ til at hjælpe de isolerede danske borgere. Lav en bruger og få dine varer leveret hjem til dig, så du kan forblive i isolation, og hjælpe med at stoppe spredningen af Covid-19.</p>
        <p class="text-left">Du kan også oprette dig som bud, hvor du får ansvaret for at købe og levere varer, for isolerede borgere, i nærheden af dig. Du bliver betalt for hver levering.</p>
        <img src="~/Billeder/rema 1000.png" alt="Rema 1000 Vi handler for dig" class="Bredde100" />
    </div>
    *@