@page

@*Lavet Af Anders & Jonathan*@
@model Corona_App.Pages.Kunder.Bruger.BlivBudModel
@{
    ViewData["Title"] = "Bliv Bud";
}

<div class="imagecontainer">
    <img src="~/Billeder/bud.png" alt="Billede af et bud på cykel" class="imgpadding" />
    <div class="centered">BLIV BUD</div>
</div>
@* Billede taget fra https://www.freepik.com/free-vector/courier-riding-bike-checking-address-phone-woman-delivering-order-using-cell-with-map-web-template_10579704.htm#page=1&query=courier%20bike&position=45&from_view=search *@

<p>
    Hjælp de isolerede danske borgere med  at får deres hverdag til at køre rundt, ved at blive budbringer.
</p>
<p>
    Inden du tager fasted for at handle i Rema 1000, kan du se indkøbslisterne for isolerede danskere, i dit nabolag, så du kan købe ind for dem.
</p>
<p>
    Du vil blive betalt XX kr. for hver levering du udfører, og få de penge igen, som der bliver brugt på varerne.
</p>

<div class="line-space"></div>
<div class="text-center">
    <p><a href="https://shop.rema1000.dk/handelsbetingelser">Læs vores handelsbetingelser her</a></p>
    <form>
        <input type="checkbox" name="handelsbetingelserne" value="handelsbetingelserne" id="test" required /> <label>Jeg har læst og accepteret handelsbetingelserne.</label>
        <input type="submit" value="Bliv Bud" onclick="myFunction()" formaction="/Kunder/Bruger/OpgaverINærhedenAfDig" class="btn rema_farve">
    </form>
    <div class="line-space"></div>

    <script>
        function myFunction() {
            var x = document.getElementById("myCheck").required;
            document.getElementById("test").innerHTML = x;
        }
    </script>
</div>


<nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Indkøbsliste" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/BlivBud" value="Bliv Bud" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger" value="Profil" class="skaler btn btn-primary"></div>
        </form>
    </div>
</nav>

