@page
@model Corona_App.Pages.Kunder.Bruger.BlivBudModel
@{
    ViewData["Title"] = "Bliv Bud";
}

<img src="#" alt="Alternate Text" />

<p>
    Hjælp de isolerede danske borgere med  at får deres hverdag til at køre rundt, ved at blive budbringer.
</p>
<p>
    Inden du tager fasted for at handle i Rema 1000, kan du se indkøbslisterne for isolerede danskere, i dit nabolag, så du kan købe ind for dem.
</p>
<p>
    Du vil blive betalt XX kr. for hver levering du udfører, og få de penge igen, som der bliver brugt på varerne.
</p>