@page "{id}"
@model Corona_App.Pages.Shared.Kunder.BrugerModel
@{
    ViewData["Title"] = "Profil";
}
<div class="container">
    <h1>Profil</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <input type="hidden" asp-for="b.Id" />

                <div class="form-group">
                    <label> Navn: </label>
                    <input type="text" asp-for="b.Navn" class="form-control" />
                    <span asp-validation-for="b.Navn" class="alert-danger"></span>
                </div>


                <div class="form-group">
                    <label>Adresse:</label>
                    <input type="text" asp-for="b.Adresse" class="form-control" />
                    <span asp-validation-for="b.Adresse" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label>Tlf nummer</label>
                    <input type="text" asp-for="b.Mobilnummer" class="form-control" />
                    <span asp-validation-for="b.Mobilnummer" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" asp-for="b.Email" class="form-control" />
                    <span asp-validation-for="b.Email" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label>Adgangskode</label>
                    <input type="text" asp-for="b.Adgangskode" class="form-control" />
                    <span asp-validation-for="b.Adgangskode" class="alert-danger"></span>
                </div>

                <div class="form-group knap">
                    <input type="submit" value="Gem ændringer" class="btn btn-primary knap" />
                </div>

                <div class="form-group knap2">
                    <input type="submit" value="Slet bruger" class="btn btn-danger knap2" />
                </div>

            </form>
        </div>
    </div>
</div>