@page
@model Corona_App.Pages.Kunder.Bruger.OpgaverINærhedenAfDigModel
@{
    ViewData["Title"] = "Opgaver I Nærheden Af Dig";
}
<div class="imagecontainer">
    <img src="~/Billeder/Opgaver.png" alt="Billede af en by"/>
    <div class="centered">Opgaver I Nærheden Af Dig</div>
</div>

<div class="text-center">
    <input type="text" placeholder="Søg" />
</div>
