@page
@*Lavet Af Jonathan*@
@model Corona_App.Pages.Kunder.Bruger.OpgaverINærhedenAfDigModel
@{
    ViewData["Title"] = "Opgaver I Nærheden Af Dig";
}
<div class="imagecontainer">
    <img src="~/Billeder/Opgaver.png" alt="Billede af en by" />
    <div class="centered">Opgaver I Nærheden Af Dig</div>
</div>

<div class="text-center">
    <input id="rund_knap" type="text" placeholder="  Søg efter lokation..." />
</div>

<div class="line-space"></div>
<div class="line-space"></div>
<form>
    <div class="text-center">
        <div class="opgave_border">
            <ul class="ingen_liste_prik">
                <li>@Model.b.Adresse</li>
                <li>@Model.b.Kommune</li>
                <li>@Model.AntalVare varer</li>
                <li>@Model.SamletPris kr.</li>
            </ul>
            <button type="submit" formaction="/Kunder/Kurv/7" class="knap_divider tynd_knap rema_farve">Se Indkøbsliste</button>
            <input type="submit" class="rema_farve tynd_knap rund_knap btn" formaction="/Kunder/Kurv/7" value="Tag imod opgaven" />
        </div>

        <div class="line-space"></div>
        <div class="opgave_border">
            <ul class="ingen_liste_prik">
                <li>Eriksmidevej 12</li>
                <li>Greve 2670</li>
                <li>9 varer</li>
                <li>210 kr.</li>
            </ul>
            <button class="knap_divider tynd_knap rema_farve">Se Indkøbsliste</button>
            <button class="rema_farve tynd_knap rund_knap">Tag imod opgaven</button>
        </div>
    </div>
</form>

<nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Indkøbsliste" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/OpgaverINærhedenAfDig" value="Leveringer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger" value="Profil" class="skaler btn btn-primary"></div>
        </form>
    </div>
</nav>