@page
@model Corona_App.Pages.Kunder.Bruger.SletBrugerModel
@{
    <form method="post">
        <div class="text-center">
            <input type="submit" value="Slet Bruger" class=" btn rema_farve" />
        </div>
    </form>
}
