@page
@model Corona_App.Pages.Kunder.Bruger.VelkommenModel
@*Lavet Af Jonathan*@
@{
    @ViewData["Velkommen"];
}
<div class="text-center">
    <h1><span style="font-weight:normal">Velkommen til</span></h1>
    <h1 class="display-4"><b>SuperHandleren 4000!!!</b></h1>
</div>

<div class="line-space"></div>
<div class="text-center">
    <p><b>Hvad vil du så nu?</b></p>
</div>

<div class="line-space"></div>
<div class="text-center">
    <form>
        <input type="submit" value="Handle" formaction="/Varer/KatalogVarer/Katalog" class="btn rema_farve">
    </form>
    <div class="line-space"></div>
</div>

<div class="text-center">Eller</div>

<div class="line-space"></div>
<div class="text-center">
    <form>
        <input type="submit" value="Bliv Bud" formaction="/Kunder/Bruger/BlivBud" class="btn rema_farve">
    </form>
    <div class="line-space"></div>
</div>


<nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Indkøbsliste" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/BlivBud" value="Bliv Bud" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger/3" value="Profil" class="skaler btn btn-primary"></div>
        </form>
    </div>
</nav>